### Mac OS ###
.DS_Store
*.dSYM/

### Binary ###
server
server.exe
server.out

### VS Code ###
.vscode/

### SQLite ###
*.db

**/build/
.xmake
*.dll
*.so

.cache
compile_commands.json

build.bat
build.sh
run.bat
run.sh
